.saveAndCancelDiv {
  width: 100%;
  border-top: #979797 solid 1px;
}

.secondSaveAndCancelDiv {
  margin: auto;
  width: 100%;
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 3% 0% 3% 0%;
}

.saveAndCancelDiv button {
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 5px;
  padding: 4% 0%;
  width: 25%;
}

.saveAndCancelDiv button:hover {
  filter: brightness(85%);
  transition: 0.3s;
  cursor: pointer;
}
