.saveAndCancelDiv {
  margin: 10% 0% 5% 0%;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.saveAndCancelDiv button {
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 5px;
  padding: 4% 0%;
  width: 25%;
}

.saveAndCancelDiv button:hover {
  filter: brightness(85%);
  transition: 0.3s;
  cursor: pointer;
}
