/* Body */

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
  background-color: rgb(180, 180, 180);
  font-size: 16px;
}

/* Body */

/* General */

.div-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* General */

/* Button */

button {
  cursor: pointer;
}

.defaultButton {
  border: rgb(160, 160, 160) 1px solid;
  border-radius: 3px;
  padding: 4px 10px;
}

.defaultButton:hover {
  filter: brightness(85%);
  transition: 0.3s;
  cursor: pointer;
}

.defaultTextArea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
  color: inherit;
}

/* Button */
